html, body{
		margin:0;
		padding:0;
}
#fileList{
		margin:5rem 0 5rem 0;
}
#fileUpload{
		margin-top:1rem;
		background-color:white;
}
#fileUpload.over{
		background-color:aqua;
}
#trashcan{
		margin-top:1rem;
		background-color:white;
		//background-color:blue;
}
#trashcan.over{
		background-color:darkcyan;
}
.dropTarget{
		height:5rem;
		width:5rem;
		overflow:hidden;
}
.topbar{
		height:5rem;
		width:100%;
}
.topbar-img{
		height: 5rem;
		width: 5rem;
}
.item-list{
		display:inline-block;
		//float:left;
		//height:1.3rem;
		width:7rem;
		margin : 0 3rem 2rem 3rem;
		padding : .1rem .1rem .1rem .1rem;
		border-style: solid;
		border-width:.1rem;
		border-radius:.5rem;
		box-shadow: 0 0.1rem 0.1rem 0;
		cursor: move;
		white-space: nowrap;

}
.item-list:hover{
		box-shadow: 0 0.1rem 0.7rem 0;
}
.flow-right{
		float:right;
		margin-right:1.5rem;
}
.flow-left{
		float:left;
		margin-left:0;
		margin-right:1.5rem;
}
.fit-image{
		width:100%;
		height:100%;
}
.mid{
		width:100%;
		height:100%;
		margin:0 auto;
		top:50%;
}
.searchDiv {
	position: relative;
	margin: 1rem 1rem 1rem 1rem;
}
.topinput {
	margin-left: 0.3 rem;
	margin-right: 0.3 rem;
	height: 1.8 rem;
	width: 12rem
}
.searchDiv button {
	display: inline-block;
	margin-bottom: 0;
	margin-top: 0;
	font-size: 1.2 rem;
	line-height: 1.8 rem;
	color: #333;
	text-align: center;
	text-shadow: 0 0.1 rem 0.1 rem rgba(255,255,255,.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
	border: 0.1 rem solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	border-bottom-color: #b3b3b3;
	border-radius: 0.4 rem;
	box-shadow: inset 0 0.1 rem 0 rgba(255,255,255,.2), 0 0.1 rem 0.2 rem rgba(0,0,0,.05);
}
.message{
		position: fixed;
		width:30%;
		height:3rem;
		left: 50%;
		top: 5rem;
		margin: 0 0 0 -15%;
		background: rgba(0, 0 , 0, 0.5);
		border-radius: 1rem;
		text-align: center;
		font-size:1.5rem;
		color:white;
		line-height:3rem;
		transition : .1s ease-in;
		overflow: hidden;

}
.hid{
		transform:scale(0);
}
.clearfix{
		clear : both;
}
.item-icon{
		display : block;
		width:5rem;
		height:5rem;
}
.item-title{
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
}
.right-menu{
		//width: 10rem;
		position: absolute;
		background-color: rgb(220,220,220);
		box-shadow: 0 0 3rem 0 rgba(0,0,0,.2);
		font-size: 1.5rem;
		text-align: center;

}
.right-menu-list{
		list-style: none;
		padding: 0;
		margin: .3rem 1rem .3rem 1rem;
}
.right-menu-list>li{
		padding: 0 .1rem .1rem 0;
}
.right-menu-list>li:hover{
		background-color: rgba(0,0,0,0.3);
}
.fullscreen-container{
		display: flex;
		position : fixed;
		left: 0;
		top: 0;
		align-items: center;
		justify-content: center;
		height : 100vh;
		width: 100vw;
		background-color: rgba(0 , 0 , 0 , 0.5);
}
#info-menu{
		width: 25rem;
		background-color: #eee;

}
#info-title{
		font-size: 2.5rem;
		display: flex;
		width: 100%;
		//align-items: center;
		justify-content: center;
		text-align: center;
}
.info-column{
		box-sizing: border-box;
		display: flex;
		margin : .2rem .5rem;
		font-size: 1.5rem;
}
.col-unit{
		flex:1;
}
.inline-text{
		background: inherit;
		border : 0;
		font-size: 1.5rem;

}
.tree-li{
		list-style-type: disc;
		background-color: white;
		margin : .2rem 0;
}
.tree-root{
		font-size : 1.5rem;
		padding :10vh 10vw;
		background-color : #eee;
}
.contain-title{
		font-size: 2.5rem;
}
.tiny-input{
		width: 3rem;
}
.input{
}
.input input[type="checkbox"]{
	width: 1.2rem;
	height:1.2rem;
}
#advancedOptions{
	position: relative;
	width: 25vw;
	min-width: 21rem;
	font-size: 1.5rem;
	height: initial;
	border: rgb(84, 157, 163);
	border-width: .2rem;
	border-style: double;
	border-radius: .5rem;
	box-sizing: border-box;

}

